/* Kodi i cili e ben reset, dmth i largon padding, marginat dhe te tjerat te cliat browseri i ka default !!  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Header */

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.logo,
.navbar {
  margin: 0 auto;
}
.logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  color: #a4c639;
  font-family: "Poppins", sans-serif;
}
.logo span {
  font-size: 16px;
}

.navbar li a {
  margin: 20px;
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.589);
  font-weight: 400;
  transition: all 0.4s ease;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar li a:hover {
  color: #a4c639;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.active {
  border-bottom: 2px solid #a4c639;
}
li.active a {
  color: #a4c639;
}

/* First section */

.slide-bar {
  width: 100%;
}

.img {
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/car1.jpg");
  background-position: bottom right;
  animation: slider 30s infinite;
}

@keyframes slider {
  0% {
    background-image: url("../img/car2.jpg");
  }
  25% {
    background-image: url("../img/car3.jpg");
  }
  50% {
    background-image: url("../img/car4.png");
  }
  75% {
    background-image: url("../img/car5.png");
  }
}

.container {
  padding-right: 15px;
  padding-left: 180px;
  padding-top: 20px;
  margin-right: 30px;
  margin-left: auto;
}

/* second section */

.secondSection {
  background-color: rgba(68, 67, 67, 0.068);
  margin: 0 auto;
}

.secondSection .content {
  color: black;
}
.secondSection .content h2 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Poppins", "sans-serif";
}

.secondSection .content p {
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}
/* section 3  */
.thirdSection {
  margin-top: 30px;
}
.thirdSection__top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdSection__top h2 {
  padding-bottom: 10px;
  font-size: 20px;
}

.thirdSection__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.information {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.information .information__content i {
  font-size: 50px;
  margin: 0 auto;
  padding-top: 5px;
}
.information .information__content h2 {
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.information .information__content {
  letter-spacing: 0.5px;
  display: flex;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  padding: 9px;
  height: 180px;
  margin-bottom: 30px;
  color: #a4c639;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.information__content:hover {
  background-color: #a4c639;
  color: #fff;
}

.right {
  width: 60%;
}

.image {
  width: 100%;
}

img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

.right__content {
  width: 100%;
  text-align: justify;
  margin-top: 15px;
}
.right__content h2 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Poppins", "sans-serif";
  color: #a4c639;
}

.right__content p {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 1px;
  color: #7a7a7a;
}

/* fourth section */

.fourthSection {
  z-index: 10;
  position: relative;

  background: url("/img/about-fullscreen-image-1-1920x600.jpg");
}

.overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  position: absolute;
}

.fourthSection #aboutUs {
  position: relative;
  z-index: 20;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: "Poppins", "sans-serif";
  color: white;
}

.fourthSection .fourthSection-d_flex {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 20;
  padding-bottom: 20px;
}

.fourthSection .fourthSectionImage {
  width: 25%;
  margin: 0px 20px;
}

.fourthSectionImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.fourthSection__middle {
  /* background-color: red; */
  width: 30%;
  padding: 0 8px;
}
.fourthSection__middle h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.aboutUsHr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #a4c639,
    rgba(0, 0, 0, 0.75),
    #a4c639
  );
}

.fourthSection__middle p {
  margin-top: 15px;
  position: relative;
  z-index: 20;
  color: white;
  letter-spacing: 1px;
}

.fourthSection__last {
  width: 30%;
  padding: 0px 10px;
  color: white;
  letter-spacing: 1px;
}

.fourthSection__last h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.fifthSection {
  background-color: #a4c639;
  width: 100%;
  height: 70px;
}

.fifthSection p {
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  font-family: "Poppins";
  color: white;
  position: relative;
  z-index: 20;
}

/* footer */

.footer {
  width: 100%;
  height: 400px;
  background-color: #232323e7;
}

.displayFlexFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.div1,
.div2,
.div3 {
  width: 30%;
}

.div1 h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.div1 p {
  font-size: 18px;
  color: white;
  letter-spacing: 2px;
}

.fb,
.twitter,
.linkedin {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  margin: 10px;
  transition: all 0.3s ease;
}

.fb:hover {
  background-color: #a4c639;
}
.twitter:hover {
  background-color: #a4c639;
}
.linkedin:hover {
  background-color: #a4c639;
}

.fab {
  position: absolute;
  left: 10px;
  top: 8px;
}

.div1__socialMedia {
  display: flex;
  flex-direction: row;
}

.div2 h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.ulList li a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "sans-serif";
  transition: all 0.4s ease;
  font-size: 18px;
}

.ulList li a:hover {
  color: #a4c639;
}

.ulList li {
  margin: 10px 0px;
}

.div3 h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.div3 input[type="text"] {
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #181818;
}

.div3 input[type="email"] {
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #181818;
}

.div3 textarea {
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #181818;
  border-color: #a5c6399f;
}

/* Per ndryshimin e ngjyres se cursorit ne clcik tek forma */
input,
textarea {
  /* custom */
  caret-color: white;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #343434;
}
.d-flex {
  justify-content: space-around;
  align-content: center;
}
.div1__socialMedia2 {
  display: flex;
}
footer .content {
  align-self: center;
  color: white;
  font-size: 20px;
}

footer .content:hover {
  color: #a4c639;
}

/* Automjetet */
.image img {
  height: 400px;
}

.image {
  position: relative;
  z-index: 5;
}
.styled-table {
  z-index: 15;
  position: relative;
  bottom: 110px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #a4c639;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #9eb9473f;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #a5c639a2;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #a5c639a2;
}

#ShtoAutomjet {
  text-decoration: none;
  position: relative;
  bottom: 20px;
  border: none;
  padding: 10px;
  background: #a4c639;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease;
}

#ShtoAutomjet:hover {
  background: white;
  color: #a4c639;
}

/* shto modifiko automjet */

.forma {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.forma h1 {
  font-size: 21px;
  color: #a5c639;
  margin-bottom: 20px;
}

.forma input {
  width: 500px;
  padding: 5px;
  margin-top: 4px;
  border-radius: 5px;
  outline: none;
  border-color: #a5c6399f;
}

.forma input {
  caret-color: black;
}

select {
  width: 513px;
  padding: 5px;
  margin-top: 4px;
  border-radius: 5px;
  outline: none;
}

.forma label {
  color: #a4c639;
  font-size: 20px;
}

.forma .inputAndLabels {
  margin-bottom: 20px;
}

.shtoModifiko {
  text-decoration: none;
  position: relative;
  top: 55px;
  border: none;
  padding: 10px;
  background: #a4c639;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.forma #modifikoKlient,
#modifikoAutomjet {
  display: none;
  top: 70px;
}

.kategorite .styled-table {
  position: relative;
  bottom: 40px;
}

.kategorite .styled-table th,
.styled-table td {
  text-align: left;
}

/* login */

#loginPage {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 1) 27%,
    rgba(164, 198, 57, 1) 71%
  );
}

#loginPage .header .logo {
  margin-left: 150px;
}

.formaLogin {
  /* background: red;  */
  width: 530px;
  margin: 100px auto;
  box-shadow: 4px 7px 3px 9px rgba(0, 0, 0, 0.2);
}

.formaLogin h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Poppins";
  color: white;
  text-shadow: 1px 2px 0px #dbdada;
}

.formaLogin input {
  width: 500px;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 10px;
  border: none;
}

.loginFormFooter {
  text-align: center;
  font-size: 18px;
}

.loginFormFooter span {
  display: inline-block;
  margin-top: 15px;
  transition: all 0.4s ease;
}

.loginFormFooter span:hover {
  color: white;
}
.loginFormFooter span a {
  text-decoration: none;
}

.loginFormFooter #login {
  text-decoration: none;
  width: 500px;
  background: white;
  color: black;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Popins", "sans-serif";
  transition: all 0.4s ease;
  display: inline-block;
  margin-bottom: 15px;
}

.loginFormFooter #login:hover {
  background: transparent;
  color: white !important;
  letter-spacing: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* klientet */
.klientet .image img {
  width: 1000px;
  position: relative;
  z-index: 10;
}
.klientet .styled-table {
  position: relative;
  bottom: 60px;
  z-index: 50;
}

.shtoModifikoKlient .image {
  margin-top: 100px;
}

.shtoModifikoKlient .butonat {
  display: flex;
}
.shtoModifikoKlient .butonat a {
  margin: 5px;
}
